<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    Edycja użytkownika
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal ajax" role="form" method="post" action="{{ path('lewis_magazyn_saveuser', { 'id': entity.id }) }}">
                    <div class="form-body">
                        <div class="form-group">
                            {{ form_label(form.name, null, {'label_attr': {'class': 'col-md-3 control-label' }}) }}
                            <div class="col-md-9">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.surname, null, {'label_attr': {'class': 'col-md-3 control-label' }}) }}
                            <div class="col-md-9">
                                {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.surname) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.username, null, {'label_attr': {'class': 'col-md-3 control-label' }}) }}
                            <div class="col-md-9">
                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.username) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email, null, {'label_attr': {'class': 'col-md-3 control-label' }}) }}
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Włączone?</label>
                            <div class="col-md-9">
                                <div class="radio-list">
                                    {% for item in form.enabled %}
                                    <label>
                                        {{ form_widget(item) }} {{ item.vars.label }}
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                {{ form_widget(form.save, {'attr': {'class': 'btn green'}}) }}
                                <button type="button" data-dismiss="modal" class="btn default">Zamknij</button>
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
<script>
    $('#form_save').click(function() {
    var url = "{{ path('lewis_magazyn_saveuser', { 'id': entity.id }) }}";
    var Data = $('form.ajax').serialize();
    $.post(url, 
        Data
        , function(results){
            var res = JSON.parse(JSON.stringify(results));
            if(res[0].success == true) {
              $('.modal').modal('hide');
            } else {
                console.log(res[0].error);
            }
    });
    return false;
    });
</script>
                                    